[submodule "Template-App-Zenoss-(jangaraj)/repo"]
	path = Template-App-Zenoss-(jangaraj)/repo
	url = https://github.com/jangaraj/Zabbix-Template-App-Zenoss
[submodule "Template-App-Wowza-(Seitanas)/repo"]
	path = Template-App-Wowza-(Seitanas)/repo
	url = https://github.com/Seitanas/zabbix_wowza
[submodule "Template-App-Redis-(blacked)/repo"]
	path = Template-App-Redis-(blacked)/repo
	url = https://github.com/blacked/zbx_redis_template
[submodule "Template-App-Redis-(tcpcloud)/repo"]
	path = Template-App-Redis-(tcpcloud)/repo
	url = https://github.com/tcpcloud/zbx_redis_template
[submodule "Template-App-Libvirt-Stat-Over-Collectd-(czhujer)/repo"]
	path = Template-App-Libvirt-Stat-Over-Collectd-(czhujer)/repo
	url = https://github.com/czhujer/Zabbix-Template-Linux-Collectd_libvirt
[submodule "Template-App-Nginx-(blacked)/repo"]
	path = Template-App-Nginx-(blacked)/repo
	url = https://github.com/blacked/zbx_nginx_template
[submodule "Template-App-Nginx-Stats-(hpoul)/repo"]
	path = Template-App-Nginx-Stats-(hpoul)/repo
	url = https://github.com/hpoul/zabbix-nginx-stats
[submodule "Template-App-Cassandra-DB-(czhujer)/repo"]
	path = Template-App-Cassandra-DB-(czhujer)/repo
	url = https://github.com/czhujer/Zabbix-Template-CassandraDB
[submodule "Template-App-Pacemaker-(tcpcloud)/repo"]
	path = Template-App-Pacemaker-(tcpcloud)/repo
	url = https://github.com/tcpcloud/Zabbix-Template-Linux-Pacemaker
[submodule "Template-Linux-LXC-(czhujer)/repo"]
	path = Template-Linux-LXC-(czhujer)/repo
	url = https://github.com/czhujer/Zabbix-Template-Linux-LXC
[submodule "Template-Linux-ZFS-(czhujer)/repo"]
	path = Template-Linux-ZFS-(czhujer)/repo
	url = https://github.com/czhujer/Zabbix-Template-Linux-ZFS
[submodule "Template-App-Apache-Stats-(gpmidi)/repo"]
	path = Template-App-Apache-Stats-(gpmidi)/repo
	url = https://github.com/gpmidi/zabbix-apache-stats
[submodule "Template-App-Ceph-(thelan)/repo"]
	path = Template-App-Ceph-(thelan)/repo
	url = https://github.com/thelan/ceph-zabbix
[submodule "Template-App-HAProxy-(somia)/repo"]
	path = Template-App-HAProxy-(somia)/repo
	url = https://github.com/somia/zabbix_haproxy
[submodule "Template-Linux-Disk-Performance-(grundic)/repo"]
	path = Template-Linux-Disk-Performance-(grundic)/repo
	url = https://github.com/grundic/zabbix-disk-performance
[submodule "Template-Socket-Status-(vicendomingues)/repo"]
	path = Template-Socket-Status-(vicendomingues)/repo
	url = https://github.com/vicendominguez/sockstat-zabbix-module
[submodule "Template-App-Docker-(jangaraj)/repo"]
	path = Template-App-Docker-(jangaraj)/repo
	url = https://github.com/jangaraj/Zabbix-Docker-Monitoring
[submodule "Template-App-Weather-Monitor-(xdnny)/repo"]
	path = Template-App-Weather-Monitor-(xdnny)/repo
	url = https://github.com/xdnny/weather-monitor-zabbix-postgresql
[submodule "Template-App-Ip-States-(xdnny)/repo"]
	path = Template-App-Ip-States-(xdnny)/repo
	url = https://github.com/xdnny/zabbix-iptstate
[submodule "Script-AWS-Cloudwatch-Data-(randywallace)/repo"]
	path = Script-AWS-Cloudwatch-Data-(randywallace)/repo
	url = https://github.com/randywallace/zabbix-cloudwatch
[submodule "Configuration-Chef-Zabbix-Cookbook-(laradji)/repo"]
	path = Configuration-Chef-Zabbix-Cookbook-(laradji)/repo
	url = https://github.com/laradji/zabbix
[submodule "Configuration-Ansible-Zabbix-Server-Playbook-(ahelal)/repo"]
	path = Configuration-Ansible-Zabbix-Server-Playbook-(ahelal)/repo
	url = https://github.com/ahelal/ansible-zabbix_server
[submodule "Configuration-Ansible-Zabbix-Agent-Playbook-(ahelal)/repo"]
	path = Configuration-Ansible-Zabbix-Agent-Playbook-(ahelal)/repo
	url = https://github.com/ahelal/ansible-zabbix_agent
[submodule "Configuration-Pupper-Zabbix-module-(dj-wasabi)/repo"]
	path = Configuration-Pupper-Zabbix-module-(dj-wasabi)/repo
	url = https://github.com/dj-wasabi/puppet-zabbix
[submodule "Script-Manual-Housekeeper-(gutocarvalo)/repo"]
	path = Script-Manual-Housekeeper-(gutocarvalo)/repo
	url = https://github.com/gutocarvalho/zabbix-manual-housekeeper
[submodule "Integration-Google-Maps-(aristotelesaraujo)/repo"]
	path = Integration-Google-Maps-(aristotelesaraujo)/repo
	url = https://github.com/aristotelesaraujo/zabbix-geolocation
[submodule "Integration-Service-Tree-Graph-(SpawW)/repo"]
	path = Integration-Service-Tree-Graph-(SpawW)/repo
	url = https://github.com/SpawW/zabbix-service-tree/
[submodule "Integration-Frontend-Extras-(SpawW)/repo"]
	path = Integration-Frontend-Extras-(SpawW)/repo
	url = https://github.com/SpawW/zabbix-extras
[submodule "Integration-Frontend-SnmpBuilder-(SpawW)/repo"]
	path = Integration-Frontend-SnmpBuilder-(SpawW)/repo
	url = https://github.com/SpawW/snmpbuilder
[submodule "Integration-Dashing-Dashboard-(dav3860)/repo"]
	path = Integration-Dashing-Dashboard-(dav3860)/repo
	url = https://github.com/dav3860/zabbix_dashboard
[submodule "Script-Cacti-To-Zabbix-(vintagegamingsystems)/repo"]
	path = Script-Cacti-To-Zabbix-(vintagegamingsystems)/repo
	url = https://github.com/vintagegamingsystems/Cacti-Zabbix-Conversion-Script
[submodule "API-Python-(baniuyao)/repo"]
	path = API-Python-(baniuyao)/repo
	url = https://github.com/baniuyao/ZabbixPythonApi
[submodule "API-Python-Pyzabbix-(lukecyca)/repo"]
	path = API-Python-Pyzabbix-(lukecyca)/repo
	url = https://github.com/lukecyca/pyzabbix
[submodule "API-Ruby-Rubix-(dhruvbansal)/repo"]
	path = API-Ruby-Rubix-(dhruvbansal)/repo
	url = https://github.com/dhruvbansal/rubix
[submodule "API-Ruby-Zabby-(Pragmatic-Source)/repo"]
	path = API-Ruby-Zabby-(Pragmatic-Source)/repo
	url = https://github.com/Pragmatic-Source/zabby
[submodule "API-Perl-Zabipi-(DRVTiny)/repo"]
	path = API-Perl-Zabipi-(DRVTiny)/repo
	url = https://github.com/DRVTiny/Zabipi
[submodule "API-PHP-MicroZabbixApiConnector-(lundgrenalex)/repo"]
	path = API-PHP-MicroZabbixApiConnector-(lundgrenalex)/repo
	url = https://github.com/lundgrenalex/microzabbixapiconnector
[submodule "API-PHP-PhpZabbixApi-(domibarton)/repo"]
	path = API-PHP-PhpZabbixApi-(domibarton)/repo
	url = https://github.com/domibarton/PhpZabbixApi
[submodule "API-Javascript-JQuery-Jqzabbix-(kodai)/repo"]
	path = API-Javascript-JQuery-Jqzabbix-(kodai)/repo
	url = https://github.com/kodai/jqzabbix
[submodule "API-Javascript-Zabbix.js-(flexd)/repo"]
	path = API-Javascript-Zabbix.js-(flexd)/repo
	url = https://github.com/flexd/zabbix.js
[submodule "API-Go-(AlekSi)/repo"]
	path = API-Go-(AlekSi)/repo
	url = https://github.com/AlekSi/zabbix
[submodule "API-Java-(micw)/repo"]
	path = API-Java-(micw)/repo
	url = https://github.com/micw/java-zabbix-api
[submodule "CLI-Zabbix-Tool-(BrianGallew)/repo"]
	path = CLI-Zabbix-Tool-(BrianGallew)/repo
	url = https://github.com/BrianGallew/zabbix_tool
[submodule "Template-App-Solr-(flaviotorres)/repo"]
	path = Template-App-Solr-(flaviotorres)/repo
	url = https://github.com/flaviotorres/zabbix
[submodule "Template-App-Zookeeper-(flaviotorres)/repo"]
	path = Template-App-Zookeeper-(flaviotorres)/repo
	url = https://github.com/flaviotorres/zabbix
[submodule "Template-App-Varnish-(flaviotorres)/repo"]
	path = Template-App-Varnish-(flaviotorres)/repo
	url = https://github.com/flaviotorres/zabbix
[submodule "Integration-SMS-client-(tlenss)/repo"]
	path = Integration-SMS-client-(tlenss)/repo
	url = https://github.com/tlenss/zabbix-sms-client
[submodule "Monitoring-Zabbix-Server-(nightw)/repo"]
	path = Monitoring-Zabbix-Server-(nightw)/repo
	url = https://github.com/nightw/zabbix-server-monitoring
[submodule "Template-App-Puppet-Reports-(shamil)/repo"]
	path = Template-App-Puppet-Reports-(shamil)/repo
	url = https://github.com/shamil/puppet-zabbix-reports
[submodule "Integration-Mobile-Frontend-MoZBX-(attiasgeniar)/repo"]
	path = Integration-Mobile-Frontend-MoZBX-(attiasgeniar)/repo
	url = https://github.com/mattiasgeniar/MoZBX
[submodule "Integration-Mobile-Frontend-ZAX-(inovex)/repo"]
	path = Integration-Mobile-Frontend-ZAX-(inovex)/repo
	url = https://github.com/inovex/zax
[submodule "Integration-Zabbix-Sender-Android-(dnbstoks)/repo"]
	path = Integration-Zabbix-Sender-Android-(dnbstoks)/repo
	url = https://github.com/dnbstoks/ZabbixSender
[submodule "Integration-Zabbix-Sender-Go-(dnbstoks)/repo"]
	path = Integration-Zabbix-Sender-Go-(dnbstoks)/repo
	url = https://github.com/AlekSi/zabbix-sender
[submodule "Integration-Zabbix-Sender-Java-(ramonli)/repo"]
	path = Integration-Zabbix-Sender-Java-(ramonli)/repo
	url = https://github.com/ramonli/zabbix-sender
[submodule "Integration-Management-AWS,VMware,Vsphere-(tech-sketch)/repo"]
	path = Integration-Management-AWS,VMware,Vsphere-(tech-sketch)/repo
	url = https://github.com/tech-sketch/hyclops
