[submodule "API-Python-Erigones-(erigones)-/repo"]
	path = API-Python-Erigones-(erigones)-/repo
	url = https://github.com/erigones/zabbix-api
[submodule "Script-Alert-JabberBot-(erigones)/repo"]
	path = Script-Alert-JabberBot-(erigones)/repo
	url = https://github.com/erigones/Ludolph
[submodule "Integration-Grafana-(alexanderzobnin)/repo"]
	path = Integration-Grafana-(alexanderzobnin)/repo
	url = https://github.com/alexanderzobnin/grafana-zabbix
[submodule "Integration-Dashboard-Grafana-(alexanderzobnin)/repo"]
	path = Integration-Dashboard-Grafana-(alexanderzobnin)/repo
	url = https://github.com/alexanderzobnin/grafana-zabbix
[submodule "Template-App-HDD-SMART-(rfarrer)/repo"]
	path = Template-App-HDD-SMART-(rfarrer)/repo
	url = https://github.com/rfarrer/zab-smartmon
[submodule "Docker-Zabbix-Server-Web---base-(zabbix)/repo"]
	path = Docker-Zabbix-Server-Web---base-(zabbix)/repo
	url = https://github.com/zabbix/zabbix-community-docker
[submodule "Docker-Zabbix-Server-Web---Push-Slack-SMTP-auth-(million12)/repo"]
	path = Docker-Zabbix-Server-Web---Push-Slack-SMTP-auth-(million12)/repo
	url = https://github.com/million12/docker-zabbix-server
[submodule "Script-Bitcoin-Node-(tyzbit)/repo"]
	path = Script-Bitcoin-Node-(tyzbit)/repo
	url = https://github.com/tyzbit/zabbix-bitcoin-scripts
[submodule "Integration-Zabbix-Sender-.Net-(yosqueoy)/repo"]
	path = Integration-Zabbix-Sender-.Net-(yosqueoy)/repo
	url = https://github.com/yosqueoy/ZabbixSenderNet
[submodule "Template-App-Wordpress-(milzulempis)/repo"]
	path = Template-App-Wordpress-(milzulempis)/repo
	url = https://github.com/milzulempis/Zabbix-Wordpress-Template
[submodule "Script-SAP-CCMS-(fedorpatlin)/repo"]
	path = Script-SAP-CCMS-(fedorpatlin)/repo
	url = https://github.com/fedorpatlin/sapccmsget
[submodule "Template-HW-Banana-Pi-(harryklein)/repo"]
	path = Template-HW-Banana-Pi-(harryklein)/repo
	url = https://github.com/harryklein/zabbix-banana-pi
[submodule "Template-App-PHP-FPM-(zazayaya)/repo"]
	path = Template-App-PHP-FPM-(zazayaya)/repo
	url = https://github.com/zazayaya/php-zabbix-template
[submodule "Template-App-Virtuozzo-(ligurio)/repo"]
	path = Template-App-Virtuozzo-(ligurio)/repo
	url = https://github.com/ligurio/zabbix-virtuozzo-template
[submodule "Script-AWS-CloudWatchLogs-to-Zabbix-(yokota-shinsuke)/repo"]
	path = Script-AWS-CloudWatchLogs-to-Zabbix-(yokota-shinsuke)/repo
	url = https://github.com/yokota-shinsuke/aws-lambda-cloudwatchlogs-to-zabbix
[submodule "Template-App-Bind9-(itxx00)/repo"]
	path = Template-App-Bind9-(itxx00)/repo
	url = https://github.com/itxx00/zabbix_app_named
[submodule "Template-App-OpenVZ-(Lelik13a)/repo"]
	path = Template-App-OpenVZ-(Lelik13a)/repo
	url = https://github.com/Lelik13a/Zabbix-OpenVZ
[submodule "Template-App-Puppet-Facter-(kisst)/repo"]
	path = Template-App-Puppet-Facter-(kisst)/repo
	url = https://github.com/kisst/zabbix-facter
[submodule "API-Java-(myaaaaa-chan)/repo"]
	path = API-Java-(myaaaaa-chan)/repo
	url = https://github.com/myaaaaa-chan/Zabbix4j
[submodule "Template-HW-ZyXEL-ZyWALL-(k3NGuru)/repo"]
	path = Template-HW-ZyXEL-ZyWALL-(k3NGuru)/repo
	url = https://github.com/k3NGuru/zywall_template
[submodule "Template-HW-Ericsson-GGSN-MPG-Juniper-M320-M120-(Lelik13a)/repo"]
	path = Template-HW-Ericsson-GGSN-MPG-Juniper-M320-M120-(Lelik13a)/repo
	url = https://github.com/Lelik13a/Zabbix-GGSN-MPG
[submodule "Template-VM-XenServer-(arbenatti)/repo"]
	path = Template-VM-XenServer-(arbenatti)/repo
	url = https://github.com/arbenatti/xen-collector
[submodule "Template-App-PHP-(zazayaya)/repo"]
	path = Template-App-PHP-(zazayaya)/repo
	url = https://github.com/zazayaya/php-zabbix-template
[submodule "Script-Alert-ServiceNow-(jangaraj)/repo"]
	path = Script-Alert-ServiceNow-(jangaraj)/repo
	url = https://github.com/jangaraj/zabbix-script-servicenow
[submodule "Script-Alert-Slack-(ssplatt)/repo"]
	path = Script-Alert-Slack-(ssplatt)/repo
	url = https://github.com/ssplatt/zabbix-slack-alertscript
[submodule "Template-HW-Cisco-QoS-Classname-(peshovec)/repo"]
	path = Template-HW-Cisco-QoS-Classname-(peshovec)/repo
	url = https://github.com/peshovec/zabbix-cisco-classname
[submodule "Template-Printer-Xerox-WorkCentre-7530-(xamgreen)/repo"]
	path = Template-Printer-Xerox-WorkCentre-7530-(xamgreen)/repo
	url = https://github.com/xamgreen/Template_Device_Xerox_WorkCentre_7530
[submodule "Template-Printer-Xerox-WorkCentre-7120-(xamgreen)/repo"]
	path = Template-Printer-Xerox-WorkCentre-7120-(xamgreen)/repo
	url = https://github.com/xamgreen/Template_Device_Xerox_WorkCentre_7120
[submodule "Template-Printer-Xerox-WorkCentre-6605-(xamgreen)/repo"]
	path = Template-Printer-Xerox-WorkCentre-6605-(xamgreen)/repo
	url = https://github.com/xamgreen/Template_Device_Xerox_WorkCentre_6605
[submodule "Template-Printer-Xerox-WorkCentre-3615-(xamgreen)/repo"]
	path = Template-Printer-Xerox-WorkCentre-3615-(xamgreen)/repo
	url = https://github.com/xamgreen/Template_Device_Xerox_WorkCentre_3615
[submodule "Template-Printer-Xerox-Phaser-3600-(xamgreen)/repo"]
	path = Template-Printer-Xerox-Phaser-3600-(xamgreen)/repo
	url = https://github.com/xamgreen/Template_Device_Xerox_Phaser_3600
[submodule "Integration-Frontend-Multiple-Zabbix-Servers-(Quadrata-it)/repo"]
	path = Integration-Frontend-Multiple-Zabbix-Servers-(Quadrata-it)/repo
	url = https://github.com/Quadrata-it/octo-zab
[submodule "Template-App-GPFS-(raimokr)/repo"]
	path = Template-App-GPFS-(raimokr)/repo
	url = https://github.com/raimokr/zabbix_template_gpfs
[submodule "Integration-Zabbix-Sender-Erlang-(stalkermn)/repo"]
	path = Integration-Zabbix-Sender-Erlang-(stalkermn)/repo
	url = https://github.com/stalkermn/zabbix_sender
[submodule "Template-App-AWS-Cloudwatch-ELB-(akomic)/repo"]
	path = Template-App-AWS-Cloudwatch-ELB-(akomic)/repo
	url = https://github.com/akomic/zabbix_cloudwatch
[submodule "Template-App-hddtemp-(vovka1200)/repo"]
	path = Template-App-hddtemp-(vovka1200)/repo
	url = https://github.com/vovka1200/zabbix-hddtemp
[submodule "Script-Pingdom-(ericharris)/repo"]
	path = Script-Pingdom-(ericharris)/repo
	url = https://github.com/ericharris/Zabbix-Pingdom-check
[submodule "Template-App-Webcrawler-(zensquare)/repo"]
	path = Template-App-Webcrawler-(zensquare)/repo
	url = https://github.com/zensquare/zabbix-webcrawler
[submodule "Script-Item-Value-From-CSV-(zubayr)/repo"]
	path = Script-Item-Value-From-CSV-(zubayr)/repo
	url = https://github.com/zubayr/zabbix_item_from_csv
[submodule "Template-App-MySQL-Local-(kingofnerds)/repo"]
	path = Template-App-MySQL-Local-(kingofnerds)/repo
	url = https://github.com/kingofnerds/Zabbix-Templates
[submodule "Template-Database-MySQL-(kingofnerds)/repo"]
	path = Template-Database-MySQL-(kingofnerds)/repo
	url = https://github.com/kingofnerds/Zabbix-Templates
[submodule "Template-App-Zabbix-Server-Stress-Test-(monitoringartist)/repo"]
	path = Template-App-Zabbix-Server-Stress-Test-(monitoringartist)/repo
	url = https://github.com/monitoringartist/zabbix-server-stress-test
[submodule "Template-App-FreeBSD-Iostat-(zzzevaka)/repo"]
	path = Template-App-FreeBSD-Iostat-(zzzevaka)/repo
	url = https://github.com/zzzevaka/zabbix-freebsd-iostat
[submodule "Template-HW-Juniper-Ex-(oleg1628)/repo"]
	path = Template-HW-Juniper-Ex-(oleg1628)/repo
	url = https://github.com/oleg1628/Zabbix-Template-Juniper-Ex-Series-Switch
[submodule "Template-HW-F5-BIG-IP-(onurzaim)/repo"]
	path = Template-HW-F5-BIG-IP-(onurzaim)/repo
	url = https://github.com/onurzaim/Zabbix-Templates
[submodule "Template-Database-MySQL-(m4ce)/repo"]
	path = Template-Database-MySQL-(m4ce)/repo
	url = https://github.com/m4ce/zabbix-mysql
[submodule "Template-App-Openfire-(kleinstuff)/repo"]
	path = Template-App-Openfire-(kleinstuff)/repo
	url = https://github.com/kleinstuff/zabbixtemplates
[submodule "Template-App-Vormetric-Agent-(tcprescott)/repo"]
	path = Template-App-Vormetric-Agent-(tcprescott)/repo
	url = https://github.com/tcprescott/zabbix-vormetric
[submodule "Module-Adapter-Go-(cavaliercoder)/repo"]
	path = Module-Adapter-Go-(cavaliercoder)/repo
	url = https://github.com/cavaliercoder/g2z
[submodule "Module-Adapter-Python-(vulogov)/repo"]
	path = Module-Adapter-Python-(vulogov)/repo
	url = https://github.com/vulogov/zlm-python
[submodule "Module-Adapter-Mini-Ruby-(BlueSkyDetector)/repo"]
	path = Module-Adapter-Mini-Ruby-(BlueSkyDetector)/repo
	url = https://github.com/BlueSkyDetector/mruby_module_for_zabbix_agent
[submodule "Template-App-Yum-Security-(Open-Future-Belgium)/repo"]
	path = Template-App-Yum-Security-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-App-ZFS-(matusso)/repo"]
	path = Template-App-ZFS-(matusso)/repo
	url = https://github.com/matusso/zfs-zabbix
[submodule "Template-Database-Oracle-(ikzelf)/repo"]
	path = Template-Database-Oracle-(ikzelf)/repo
	url = https://github.com/ikzelf/zbxora
[submodule "Template-App-SSL-Cert-expiration-(Hivlaher)/repo"]
	path = Template-App-SSL-Cert-expiration-(Hivlaher)/repo
	url = https://github.com/Hivlaher/zabbix-FreeBSD-templates
[submodule "Template-HW-FW-Fortigate-(Open-Future-Belgium)/repo"]
	path = Template-HW-FW-Fortigate-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-FW-SonicWALL-TZ-190-(Open-Future-Belgium)/repo"]
	path = Template-HW-FW-SonicWALL-TZ-190-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-Printer-Triumph-Adler-(Open-Future-Belgium)/repo"]
	path = Template-Printer-Triumph-Adler-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-Printer-Xerox-Qube-930-(Open-Future-Belgium)/repo"]
	path = Template-Printer-Xerox-Qube-930-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-Printer-Xerox-X660x-(Open-Future-Belgium)/repo"]
	path = Template-Printer-Xerox-X660x-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-HP-A5120-(Open-Future-Belgium)/repo"]
	path = Template-HW-HP-A5120-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-HP-E8212zl-(Open-Future-Belgium)/repo"]
	path = Template-HW-HP-E8212zl-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-HP-Storageworks-G3-(Open-Future-Belgium)/repo"]
	path = Template-HW-HP-Storageworks-G3-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Riverbed-SteelHead-EX-(Open-Future-Belgium)/repo"]
	path = Template-HW-Riverbed-SteelHead-EX-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Riverbed-SteelHead-(Open-Future-Belgium)/repo"]
	path = Template-HW-Riverbed-SteelHead-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Aerohive-AP121-(Open-Future-Belgium)/repo"]
	path = Template-HW-Aerohive-AP121-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Air-Condition-GASON-(Open-Future-Belgium)/repo"]
	path = Template-HW-Air-Condition-GASON-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Air-Confition-pCOweb-(Open-Future-Belgium)/repo"]
	path = Template-HW-Air-Confition-pCOweb-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-Fortigate-(Open-Future-Belgium)/repo"]
	path = Template-HW-Fortigate-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-HW-SonicWALL-TZ-190-(Open-Future-Belgium)/repo"]
	path = Template-HW-SonicWALL-TZ-190-(Open-Future-Belgium)/repo
	url = https://github.com/Open-Future-Belgium/zabbix
[submodule "Template-App-Elasticsearch-(sepich)/repo"]
	path = Template-App-Elasticsearch-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Template-App-Postfix-(sepich)/repo"]
	path = Template-App-Postfix-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Template-App-Socket-Status-(sepich)/repo"]
	path = Template-App-Socket-Status-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Template-App-Ext-Web-Check-(breuninger-ecom)/repo"]
	path = Template-App-Ext-Web-Check-(breuninger-ecom)/repo
	url = https://github.com/breuninger-ecom/http_extend
[submodule "Script-Agent-Stress-Test-(monitoringartist)/repo"]
	path = Script-Agent-Stress-Test-(monitoringartist)/repo
	url = https://github.com/monitoringartist/zabbix-agent-stress-test
[submodule "Template-App-Docker-(monitoringartist)/repo"]
	path = Template-App-Docker-(monitoringartist)/repo
	url = https://github.com/monitoringartist/Zabbix-Docker-Monitoring
[submodule "Template-App-Zenoss-(monitoringartist)/repo"]
	path = Template-App-Zenoss-(monitoringartist)/repo
	url = https://github.com/monitoringartist/Zabbix-Template-App-Zenoss
[submodule "Script-Alert-ServiceNow-(monitoringartist)/repo"]
	path = Script-Alert-ServiceNow-(monitoringartist)/repo
	url = https://github.com/monitoringartist/zabbix-script-servicenow
[submodule "Template-App-AWS-EC2-(ike-dai)/repo"]
	path = Template-App-AWS-EC2-(ike-dai)/repo
	url = https://github.com/ike-dai/zabbix-cloud-module
[submodule "Template-App-RabbitMQ-(sepich)/repo"]
	path = Template-App-RabbitMQ-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Template-Database-MySQL-Transactions-(sepich)/repo"]
	path = Template-Database-MySQL-Transactions-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Template-Database-MySQL-(sepich)/repo"]
	path = Template-Database-MySQL-(sepich)/repo
	url = https://github.com/sepich/zabbix
[submodule "Integration-Zabbix-Searcher-(monitoringartist)/repo"]
	path = Integration-Zabbix-Searcher-(monitoringartist)/repo
	url = https://github.com/monitoringartist/zabbix-searcher
[submodule "Template-App-Elasticsearch-(mkhpalm)/repo"]
	path = Template-App-Elasticsearch-(mkhpalm)/repo
	url = https://github.com/mkhpalm/elastizabbix
[submodule "API-C-sharp-(HenriqueCaires)/repo"]
	path = API-C-sharp-(HenriqueCaires)/repo
	url = https://github.com/HenriqueCaires/ZabbixApi
[submodule "Template-App-Pacemaker-(H-Software)/repo"]
	path = Template-App-Pacemaker-(H-Software)/repo
	url = https://github.com/H-Software/Zabbix-Template-Linux-Pacemaker
[submodule "Template-App-Elasticsearch-(dkanbier)/repo"]
	path = Template-App-Elasticsearch-(dkanbier)/repo
	url = https://github.com/dkanbier/zabbix-elasticsearch
[submodule "API-PHP-PhpZabbixApi-(confirm)/repo"]
	path = API-PHP-PhpZabbixApi-(confirm)/repo
	url = https://github.com/confirm/PhpZabbixApi
[submodule "Integration-Dashboard-Ruby-ZV-(winebarrel)/repo"]
	path = Integration-Dashboard-Ruby-ZV-(winebarrel)/repo
	url = https://github.com/winebarrel/zv
[submodule "Module-Modbus-RTU-TCP-(v-zhuravlev)/repo"]
	path = Module-Modbus-RTU-TCP-(v-zhuravlev)/repo
	url = https://github.com/v-zhuravlev/libzbxmodbus
[submodule "Template-App-Container-LXC-(Lelik13a)/repo"]
	path = Template-App-Container-LXC-(Lelik13a)/repo
	url = https://github.com/Lelik13a/Zabbix-LXC
[submodule "Integration-Reports-PDF-(burgosz)/repo"]
	path = Integration-Reports-PDF-(burgosz)/repo
	url = https://github.com/burgosz/zabbix_reports
[submodule "Script-PowerShell-(skokhanovskiy)/repo"]
	path = Script-PowerShell-(skokhanovskiy)/repo
	url = https://github.com/skokhanovskiy/zabbix-monitoring
[submodule "Template-App-Elasticsearch-(untergeek)/repo"]
	path = Template-App-Elasticsearch-(untergeek)/repo
	url = https://github.com/untergeek/zabbix-grab-bag
[submodule "Template-App-Vutlan-Skycontrol-EMS-(zbx-sadman)/repo"]
	path = Template-App-Vutlan-Skycontrol-EMS-(zbx-sadman)/repo
	url = https://github.com/zbx-sadman/vutlan_ems
[submodule "Template-HW-Synology-DiskStation-DS415-DSM5-(Pytlicek)/repo"]
	path = Template-HW-Synology-DiskStation-DS415-DSM5-(Pytlicek)/repo
	url = https://github.com/Pytlicek/Synology-DS415-Zabbix
[submodule "Template-OS-Linux-Ulimits-(galindro)/repo"]
	path = Template-OS-Linux-Ulimits-(galindro)/repo
	url = https://github.com/galindro/zabbix-enhanced-templates
[submodule "Template-OS-Linux-Memory-(galindro)/repo"]
	path = Template-OS-Linux-Memory-(galindro)/repo
	url = https://github.com/galindro/zabbix-enhanced-templates
[submodule "Template-OS-Linux-Processes-(galindro)/repo"]
	path = Template-OS-Linux-Processes-(galindro)/repo
	url = https://github.com/galindro/zabbix-enhanced-templates
[submodule "Template-App-X-(thecamels)/repo"]
	path = Template-App-X-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-APC-(thecamels)/repo"]
	path = Template-App-APC-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Amavisd-(thecamels)/repo"]
	path = Template-App-Amavisd-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Brocade-HBA-(thecamels)/repo"]
	path = Template-App-Brocade-HBA-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Dovecot-(thecamels)/repo"]
	path = Template-App-Dovecot-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Etherpad-(thecamels)/repo"]
	path = Template-App-Etherpad-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Exim-(thecamels)/repo"]
	path = Template-App-Exim-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-Database-MySQL-Slave-(thecamels)/repo"]
	path = Template-Database-MySQL-Slave-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-Database-MySQL-(thecamels)/repo"]
	path = Template-Database-MySQL-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Nginx-(thecamels)/repo"]
	path = Template-App-Nginx-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Nscd-(thecamels)/repo"]
	path = Template-App-Nscd-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-OPcache-(thecamels)/repo"]
	path = Template-App-OPcache-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-OpenDKIM-(thecamels)/repo"]
	path = Template-App-OpenDKIM-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Postfix-(thecamels)/repo"]
	path = Template-App-Postfix-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-EMC-PowerPath-(thecamels)/repo"]
	path = Template-HW-EMC-PowerPath-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Pure-FTPd-(thecamels)/repo"]
	path = Template-App-Pure-FTPd-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-RabbitMQ-(thecamels)/repo"]
	path = Template-App-RabbitMQ-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-HDD-SMART-(thecamels)/repo"]
	path = Template-App-HDD-SMART-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-Spamassassin-(thecamels)/repo"]
	path = Template-App-Spamassassin-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-cPanel-(thecamels)/repo"]
	path = Template-App-cPanel-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-lm-sensors-(thecamels)/repo"]
	path = Template-App-lm-sensors-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-App-vsftpd-(thecamels)/repo"]
	path = Template-App-vsftpd-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-UPS-APC-Back-UPS-ES-700G-(thecamels)/repo"]
	path = Template-UPS-APC-Back-UPS-ES-700G-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-BigIP-F5-(thecamels)/repo"]
	path = Template-HW-BigIP-F5-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-Cisco-ASA-(thecamels)/repo"]
	path = Template-HW-Cisco-ASA-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-NetApp--(thecamels)/repo"]
	path = Template-HW-NetApp--(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-OpenManage-Server-Administrator-OMSA-(thecamels)/repo"]
	path = Template-HW-OpenManage-Server-Administrator-OMSA-(thecamels)/repo
	url = https://github.com/thecamels/zabbix
[submodule "Template-HW-IBM-Storwize-(ma-tty)/repo"]
	path = Template-HW-IBM-Storwize-(ma-tty)/repo
	url = https://github.com/ma-tty/svc-perf
[submodule "Integration-Dashboard-Dashing-(galindro)/repo"]
	path = Integration-Dashboard-Dashing-(galindro)/repo
	url = https://github.com/galindro/zabbix-dashing
[submodule "Template-Database-Aerospike-(maxvgi)/repo"]
	path = Template-Database-Aerospike-(maxvgi)/repo
	url = https://github.com/maxvgi/zabbix-templates
[submodule "Template-App-PHP-FPM-(maxvgi)/repo"]
	path = Template-App-PHP-FPM-(maxvgi)/repo
	url = https://github.com/maxvgi/zabbix-templates
[submodule "Integration-RackTables-(kaz260)/repo"]
	path = Integration-RackTables-(kaz260)/repo
	url = https://github.com/kaz260/RackTables-ZABBIX-bridge
[submodule "Template-UPS-APC-APC-Symmetra-LX-16000-(angel2s2)/repo"]
	path = Template-UPS-APC-APC-Symmetra-LX-16000-(angel2s2)/repo
	url = https://github.com/angel2s2/zabbix
[submodule "Template-UPS-APC-NetBotz-Rack-Monitor-200-(angel2s2)/repo"]
	path = Template-UPS-APC-NetBotz-Rack-Monitor-200-(angel2s2)/repo
	url = https://github.com/angel2s2/zabbix
[submodule "Template-App-Barracuda-Spam-Firewall-(phroton)/repo"]
	path = Template-App-Barracuda-Spam-Firewall-(phroton)/repo
	url = https://github.com/phroton/zabbix-templates
[submodule "Integration-Zabbix-Federation-(vulogov)/repo"]
	path = Integration-Zabbix-Federation-(vulogov)/repo
	url = https://github.com/vulogov/zabbix-federation
[submodule "Template-App-Varnish-(allenta)/repo"]
	path = Template-App-Varnish-(allenta)/repo
	url = https://github.com/allenta/zabbix-template-for-varnish-cache
[submodule "Script-Export-History-Data-to-CSV-(teriyakichild)/repo"]
	path = Script-Export-History-Data-to-CSV-(teriyakichild)/repo
	url = https://github.com/teriyakichild/zabbixhistory2csv
[submodule "API-PowerShell-psbbix-(yubu)/repo"]
	path = API-PowerShell-psbbix-(yubu)/repo
	url = https://github.com/yubu/psbbix
[submodule "Integration-Neptune.io-(neptuneio)/repo"]
	path = Integration-Neptune.io-(neptuneio)/repo
	url = https://github.com/neptuneio/zabbix-integration
[submodule "Template-App-PHP-(pozgo)/repo"]
	path = Template-App-PHP-(pozgo)/repo
	url = https://github.com/pozgo/php-zabbix-template
[submodule "API-.NET-(Vidlec)/repo"]
	path = API-.NET-(Vidlec)/repo
	url = https://github.com/Vidlec/Zabbix.NET
[submodule "Template-HW-Supermicro-X9DRH-(neechbear)/repo"]
	path = Template-HW-Supermicro-X9DRH-(neechbear)/repo
	url = https://github.com/neechbear/zabbix
[submodule "Template-App-Zimbra-(eduwutzl)/repo"]
	path = Template-App-Zimbra-(eduwutzl)/repo
	url = https://github.com/eduwutzl/zabbix-templates
[submodule "Template-App-Exchange-2010-(hadida)/repo"]
	path = Template-App-Exchange-2010-(hadida)/repo
	url = https://github.com/hadida/Zabbix
